<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IMenuMapper">

    <select id="getMenuInfoList" resultType="com.rlglsys.entity.Mtb03Menu">
        SELECT
            *
        FROM m_tb03_menu
        WHERE  DEL_KBN ='0'
         <if test="entrance == 1">
           AND ENTRANCE1 = '1'
        </if>
        <if test="entrance == 2">
           AND ENTRANCE2 = '1'
        </if>
       <if test="entrance == 3">
           AND ENTRANCE3 = '1'
        </if>
       <if test="entrance == 4">
           AND EXPEND_02 = '1'
        </if>
        ORDER BY MENU_LEVEL, MENU_LEVEL_SORT
    </select>
    
    <select id="getMenuInfoByUserList" resultType="com.rlglsys.entity.Mtb03Menu">
        SELECT
             M1.ONLY_SEARCH
            ,M2.*
        FROM m_tb73_roleaction M1
        INNER JOIN m_tb03_menu M2
        ON M1.MENU_ID = M2.MENU_ID
        AND M2.DEL_KBN = 0
        <if test="roleactionInfo.entrance == 1">
           AND M2.ENTRANCE1 = '1'
        </if>
        <if test="roleactionInfo.entrance == 2">
           AND M2.ENTRANCE2 = '1'
        </if>
       <if test="roleactionInfo.entrance == 3">
           AND M2.ENTRANCE3 = '1'
       </if>
       <if test="roleactionInfo.entrance == 4">
           AND M2.EXPEND_02 = '1'
       </if>
       <if test="roleactionInfo.entrance4 != null and roleactionInfo.entrance4 !=''">
	      AND M2.ENTRANCE4 IN 
	        <foreach collection="roleactionInfo.entrance4List" index="index" item="item" open="(" separator="," close=")">
	         #{item}
	        </foreach>
        </if>
        WHERE M1.UNIT_ROLE in
        <foreach collection="roleactionInfo.roleIdList" index="index" item="item" open="(" separator="," close=")">
         #{item}
        </foreach>
        GROUP BY M2.MENU_ID
        ORDER BY M2.MENU_LEVEL, M2.MENU_LEVEL_SORT;
    </select>
    
    <select id="getUserRoleInfo" resultType="com.rlglsys.entity.Mtb72Userrole">
        SELECT
            *
        FROM m_tb72_userrole
        WHERE USER_ID = #{roleInfo.user_id}
       <!-- <if test="roleInfo.user_enter != null and roleInfo.user_enter !=''">
            AND USER_ENTER = #{roleInfo.user_enter}
        </if> --> 
    </select>
    
    <select id="getUserRoleInfoList" resultType="com.rlglsys.entity.Mtb72Userrole">
       SELECT
            *
        FROM m_tb72_userrole
        WHERE USER_ID = #{roleInfo.user_id}
    </select>
    
    <select id="getMenuInfo" resultType="com.rlglsys.entity.Mtb03Menu">
        SELECT
            *
        FROM m_tb03_menu
        WHERE  MENU_ID = #{menuInfo.menu_id}
    </select>
</mapper>
