<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IMtb48ectionMapper">
    <!-- 根据单位编号查询该单位的科室列表-->
    <select id="getEctionList" resultType="Mtb48Ection">
        SELECT
            SECTION_ID as SECTION_NO
            ,SECTION_NAME
            ,SECTION_INFO
            ,UNIT_NO
            ,SECTION_PROPERTY
        FROM m_tb22_hospital_section
        WHERE unit_no=#{unit_no}
    </select>
    <!--科室名称查询 -->
    <select id="getEctionName" resultType="String">
        SELECT
		    section_name
        FROM m_tb22_hospital_section 
        WHERE section_id=#{ection_no}
        AND UNIT_NO=#{unit_no};
    </select>
</mapper>
