<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IRlgl022007Mapper">
    <!-- 查询该分类用户没有选择的课件 -->
    <select id="courseTemporaryList" resultType="com.rlglsys.bean.Rlgl022007Bean" >
        SELECT  *  FROM m_tb63_courseware WHERE  
           COURSE_ID 
           IN
           (SELECT COURSE_ID FROM m_tb79_course_temporary WHERE USER_ID=#{rlgl022005Bean.user_id})
	</select>
    <insert id="insertCourseSelected" parameterType="int">
          INSERT INTO m_tb80_course_selected 
				(
						COURSE_ID	,          
						COURSE_NAME	,        
						TransactionID,
						BANK_CODE	,          
						BANK_ORDER_NO	,      
						PAYMENT_TIME	,      
						BANK_NAME	  ,        
						USER_ACCOUNT	,      
						PAYMENT_MONEY	,      
						IS_DISCOUNTS	,      
						CREDIT_YEAR	  ,
						USER_ID	  ,          
						EX_KEY	 ,           
						DEL_KBN	   ,         
						EXPEND_01   ,        
						EXPEND_02	 ,         
						EXPEND_03	 ,         
						EXPEND_04	  ,        
						EXPEND_05	  ,        
						LOGIN_USER_ID  ,     
						LOGIN_DATE	 ,       
						UPDATE_USER_ID	,    
						UPDATE_DATE	        
						)
						VALUES (
						#{rlgl022006Bean.course_id},       
						#{rlgl022006Bean.course_name},   
						#{rlgl022006Bean.TransactionID},    
						#{rlgl022006Bean.bank_code},       
						#{rlgl022006Bean.bank_order_no}, 
						#{rlgl022006Bean.payment_time},  
						#{rlgl022006Bean.bank_name},   
						#{rlgl022006Bean.user_account}, 
						#{rlgl022006Bean.payment_money}, 
						#{rlgl022006Bean.is_discounts},
						#{rlgl022006Bean.credit_year},   
						#{rlgl022006Bean.user_id},   
						#{rlgl022006Bean.ex_key},      
						#{rlgl022006Bean.del_kbn}, 
						#{rlgl022006Bean.expend_01},
						#{rlgl022006Bean.expend_02},  
						#{rlgl022006Bean.expend_03},   
						#{rlgl022006Bean.expend_04	},
						#{rlgl022006Bean.expend_05	},   
						#{rlgl022006Bean.login_user_id },
						#{rlgl022006Bean.login_date	}, 
						#{rlgl022006Bean.update_user_id},
						#{rlgl022006Bean.update_date}	     
						);
    </insert>
    <delete id="deleteCourseTemporary" parameterType="int">
        DELETE FROM m_tb79_course_temporary WHERE USER_ID=#{rlgl022007Bean.user_id} AND course_id=#{rlgl022007Bean.course_id}
    </delete>
</mapper>
