<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IRlgl010319Mapper">
	<!--查询-->
	<!--人员基本信息-->
    <select id="getPersonnel" resultType="Mtb12Personnel">
    	SELECT
            *
        FROM m_tb12_personnel
        WHERE personnel_id=#{personnel_id}
    </select>
    <update id="update39Personnel">
    	UPDATE 
    		m_tb39_personnel
    	SET 
	    	PERSONNEL_TEL=#{personnel.personnel_tel}
	    	,PERSONNEL_EMAIL=#{personnel.personnel_email}
	    	,PERSONNEL_QQ=#{personnel.personnel_qq}
	    	,PERSONNEL_MIBLOG=#{personnel.personnel_miblog}
	    	,PERSONNEL_OFFICETEL=#{personnel.personnel_officetel}
        WHERE personnel_id=#{personnel.personnel_id};
    </update>
    <update id="update12Personnel">
    	UPDATE 
    		m_tb12_personnel
    	SET 
	    	PERSONNEL_TEL=#{personnel.personnel_tel}
	    	,PERSONNEL_EMAIL=#{personnel.personnel_email}
	    	,PERSONNEL_QQ=#{personnel.personnel_qq}
	    	,PERSONNEL_MIBLOG=#{personnel.personnel_miblog}
	    	,PERSONNEL_OFFICETEL=#{personnel.personnel_officetel}
        WHERE personnel_id=#{personnel.personnel_id};
    </update>
</mapper>
