<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IRlgl010302Mapper">
   	<!--登录-->
    <!--人员基本信息-->
    <insert id="doSaveRlgl010302">
        INSERT
        INTO m_tb39_personnel(
            personnel_id,
            apply_no,
            apply_number,
            now_mark,
			personnel_nm,
			personnel_card_id,
			personnel_birthday,
			personnel_gender,
			personnel_ethnic,
			personnel_hometown,
			personnel_account_location,
			personnel_worktime,
			personnel_personal_identification,
			personnel_political_landscape,
			personnel_joinpartytime,
			personnel_employment_forms,
			personnel_marital_status,
			personnel_health_status,
			personnel_foreignlanguage_level,
			personnel_hobbies,
			personnel_archive_unit,
			personnel_filelocation,
			personnel_area,
			personnel_address,
			personnel_email,
			personnel_tel,
			personnel_status,
			personnel_check,
			personnel_unit,
			personnel_unit_nm,
			personnel_office,
			personnel_office_nm,
			personnel_officetel,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date,
			personnel_isApproval,
			personnel_imgName
		)
        values(
            #{rlgl010302.personnel_id},
            #{rlgl010302.apply_no},
            #{rlgl010302.apply_number},
            #{rlgl010302.now_mark},
			#{rlgl010302.personnel_nm},
			#{rlgl010302.personnel_card_id},
			replace(#{rlgl010302.personnel_birthday},"-",""),
			#{rlgl010302.personnel_gender},
			#{rlgl010302.personnel_ethnic},
			#{rlgl010302.personnel_hometown},
			#{rlgl010302.personnel_account_location},
			replace(#{rlgl010302.personnel_worktime},"-",""),
			#{rlgl010302.personnel_personal_identification},
			#{rlgl010302.personnel_political_landscape},
			replace(#{rlgl010302.personnel_joinpartytime},"-",""),
			#{rlgl010302.personnel_employment_forms},
			#{rlgl010302.personnel_marital_status},
			#{rlgl010302.personnel_health_status},
			#{rlgl010302.personnel_foreignlanguage_level},
			#{rlgl010302.personnel_hobbies},
			#{rlgl010302.personnel_archive_unit},
			#{rlgl010302.personnel_filelocation},
			#{rlgl010302.personnel_area},
			#{rlgl010302.personnel_address},
			#{rlgl010302.personnel_email},
			#{rlgl010302.personnel_tel},
			#{rlgl010302.personnel_status},
			#{rlgl010302.personnel_check},
			#{rlgl010302.personnel_unit},
			#{rlgl010302.personnel_unit_nm},
			#{rlgl010302.personnel_office},
			#{rlgl010302.personnel_office_nm},
			#{rlgl010302.personnel_officetel},
			#{rlgl010302.ex_key},
			#{rlgl010302.del_kbn},
			#{rlgl010302.expend_01},
			#{rlgl010302.expend_02},
			#{rlgl010302.expend_03},
			#{rlgl010302.expend_04},
			#{rlgl010302.expend_05},
			#{rlgl010302.login_user_id},
			#{rlgl010302.login_date},
			#{rlgl010302.update_user_id},
			#{rlgl010302.update_date},
			#{rlgl010302.personnel_isapproval},
			#{rlgl010302.personnel_imgname}
			)
    </insert>
    <!--人员基本信息-专业技术职务信息-->
	<insert id="doSaveRlgl010302ProfessionalInfo">
        INSERT
        INTO m_tb45_personnel_professional_info(
	        personnel_id,
			level,
			name,
			get_time,
			whether_appoint,
			appoint_time,
			whether_highest,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302ProfessionalInfo.personnel_id},
			#{rlgl010302ProfessionalInfo.level},
			#{rlgl010302ProfessionalInfo.name},
			replace(#{rlgl010302ProfessionalInfo.get_time},"-",""),
			#{rlgl010302ProfessionalInfo.whether_appoint},
			replace(#{rlgl010302ProfessionalInfo.appoint_time},"-",""),
			#{rlgl010302ProfessionalInfo.whether_highest},
			#{rlgl010302ProfessionalInfo.ex_key},
			#{rlgl010302ProfessionalInfo.del_kbn},
			#{rlgl010302ProfessionalInfo.expend_01},
			#{rlgl010302ProfessionalInfo.expend_02},
			#{rlgl010302ProfessionalInfo.expend_03},
			#{rlgl010302ProfessionalInfo.expend_04},
			#{rlgl010302ProfessionalInfo.expend_05},
			#{rlgl010302ProfessionalInfo.login_user_id},
			#{rlgl010302ProfessionalInfo.login_date},
			#{rlgl010302ProfessionalInfo.update_user_id},
			#{rlgl010302ProfessionalInfo.update_date}
			)
    </insert>
    <!--人员基本信息-行政职务信息-->
    <insert id="doSaveRlgl010302JobInfo">
    	 INSERT
        INTO m_tb44_personnel_job_info(
	        personnel_id,
			position_nm,
			mode,
			type,
			level,
			appoint_time,
			appoint_no,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302JobInfo.personnel_id},
			#{rlgl010302JobInfo.position_nm},
			#{rlgl010302JobInfo.mode},
			#{rlgl010302JobInfo.type},
			#{rlgl010302JobInfo.level},
			replace(#{rlgl010302JobInfo.appoint_time},"-",""),
			#{rlgl010302JobInfo.appoint_no},
			#{rlgl010302JobInfo.ex_key},
			#{rlgl010302JobInfo.del_kbn},
			#{rlgl010302JobInfo.expend_01},
			#{rlgl010302JobInfo.expend_02},
			#{rlgl010302JobInfo.expend_03},
			#{rlgl010302JobInfo.expend_04},
			#{rlgl010302JobInfo.expend_05},
			#{rlgl010302JobInfo.login_user_id},
			#{rlgl010302JobInfo.login_date},
			#{rlgl010302JobInfo.update_user_id},
			#{rlgl010302JobInfo.update_date}
			)
   	</insert>
   	<!--人员基本信息-社会关系-->
   	<insert id="doSaveRlgl010302SocialInfo">
    	 INSERT
        INTO m_tb43_personnel_social_info(
	        personnel_id,
			relationship,
			name,
			birthday,
			political_landscape,
			workunit,
			position,
			tel,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302SocialInfo.personnel_id},
			#{rlgl010302SocialInfo.relationship},
			#{rlgl010302SocialInfo.name},
			replace(#{rlgl010302SocialInfo.birthday},"-",""),
			#{rlgl010302SocialInfo.political_landscape},
			#{rlgl010302SocialInfo.workunit},
			#{rlgl010302SocialInfo.position},
			#{rlgl010302SocialInfo.tel},
			#{rlgl010302SocialInfo.ex_key},
			#{rlgl010302SocialInfo.del_kbn},
			#{rlgl010302SocialInfo.expend_01},
			#{rlgl010302SocialInfo.expend_02},
			#{rlgl010302SocialInfo.expend_03},
			#{rlgl010302SocialInfo.expend_04},
			#{rlgl010302SocialInfo.expend_05},
			#{rlgl010302SocialInfo.login_user_id},
			#{rlgl010302SocialInfo.login_date},
			#{rlgl010302SocialInfo.update_user_id},
			#{rlgl010302SocialInfo.update_date}
			)
   	</insert>
   	<!--人员基本信息-教育经历-->
   	<insert id="doSaveRlgl010302EduInfo">
    	 INSERT
        INTO m_tb42_personnel_edu_info(
	       	personnel_id,
			learning_format,
			admission_time,
			graduation_time,
			school,
			college_type,
			profession,
			proof_people,
			educational_bg,
			degree,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302EduInfo.personnel_id},
			#{rlgl010302EduInfo.learning_format},
			replace(#{rlgl010302EduInfo.admission_time},"-",""),
			replace(#{rlgl010302EduInfo.graduation_time},"-",""),
			#{rlgl010302EduInfo.school},
			#{rlgl010302EduInfo.college_type},
			#{rlgl010302EduInfo.profession},
			#{rlgl010302EduInfo.proof_people},
			#{rlgl010302EduInfo.educational_bg},
			#{rlgl010302EduInfo.degree},
			#{rlgl010302EduInfo.ex_key},
			#{rlgl010302EduInfo.del_kbn},
			#{rlgl010302EduInfo.expend_01},
			#{rlgl010302EduInfo.expend_02},
			#{rlgl010302EduInfo.expend_03},
			#{rlgl010302EduInfo.expend_04},
			#{rlgl010302EduInfo.expend_05},
			#{rlgl010302EduInfo.login_user_id},
			#{rlgl010302EduInfo.login_date},
			#{rlgl010302EduInfo.update_user_id},
			#{rlgl010302EduInfo.update_date}
			)
   	</insert>
   	<!--人员基本信息-工作经历-->
   	<insert id="doSaveRlgl010302WorkInfo">
    	 INSERT
        INTO m_tb41_personnel_work_info(
	       	personnel_id,
			starttime,
			endtime,
			workunit,
			proofpeople,
			position,
			tel,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302WorkInfo.personnel_id},
			replace(#{rlgl010302WorkInfo.starttime},"-",""),
			replace(#{rlgl010302WorkInfo.endtime},"-",""),
			#{rlgl010302WorkInfo.workunit},
			#{rlgl010302WorkInfo.proofpeople},
			#{rlgl010302WorkInfo.position},
			#{rlgl010302WorkInfo.tel},
			#{rlgl010302WorkInfo.ex_key},
			#{rlgl010302WorkInfo.del_kbn},
			#{rlgl010302WorkInfo.expend_01},
			#{rlgl010302WorkInfo.expend_02},
			#{rlgl010302WorkInfo.expend_03},
			#{rlgl010302WorkInfo.expend_04},
			#{rlgl010302WorkInfo.expend_05},
			#{rlgl010302WorkInfo.login_user_id},
			#{rlgl010302WorkInfo.login_date},
			#{rlgl010302WorkInfo.update_user_id},
			#{rlgl010302WorkInfo.update_date}
			)
   	</insert>
   	<!--人员基本信息-党派信息-->
   	<insert id="doSaveRlgl010302PartisanInfo">
    	 INSERT
        INTO m_tb40_personnel_partisan_info(
	       	personnel_id,
			jointime,
			partisan_nm,
			prep_or_officially,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302PartisanInfo.personnel_id},
			replace(#{rlgl010302PartisanInfo.jointime},"-",""),
			#{rlgl010302PartisanInfo.partisan_nm},
			#{rlgl010302PartisanInfo.prep_or_officially},
			#{rlgl010302PartisanInfo.ex_key},
			#{rlgl010302PartisanInfo.del_kbn},
			#{rlgl010302PartisanInfo.expend_01},
			#{rlgl010302PartisanInfo.expend_02},
			#{rlgl010302PartisanInfo.expend_03},
			#{rlgl010302PartisanInfo.expend_04},
			#{rlgl010302PartisanInfo.expend_05},
			#{rlgl010302PartisanInfo.login_user_id},
			#{rlgl010302PartisanInfo.login_date},
			#{rlgl010302PartisanInfo.update_user_id},
			#{rlgl010302PartisanInfo.update_date}
			)
   	</insert>
   	<!--人员基本信息-执业资格信息-->
   	<insert id="doSaveRlgl010302PractitionersInfo">
    	 INSERT
        INTO m_tb46_personnel_practitioners_info(
	       	personnel_id,
			certificate_no,
			issuing_authority,
			issue_time,
			level,
			type,
			area,
			upd_record,
			assess_record,
			ex_key,
			del_kbn,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
		)
        values(
        	#{rlgl010302PractitionersInfo.personnel_id},
			#{rlgl010302PractitionersInfo.certificate_no},
			#{rlgl010302PractitionersInfo.issuing_authority},
			replace(#{rlgl010302PractitionersInfo.issue_time},"-",""),
			#{rlgl010302PractitionersInfo.level},
			#{rlgl010302PractitionersInfo.type},
			#{rlgl010302PractitionersInfo.area},
			#{rlgl010302PractitionersInfo.upd_record},
			#{rlgl010302PractitionersInfo.assess_record},
			#{rlgl010302PractitionersInfo.ex_key},
			#{rlgl010302PractitionersInfo.del_kbn},
			#{rlgl010302PractitionersInfo.expend_01},
			#{rlgl010302PractitionersInfo.expend_02},
			#{rlgl010302PractitionersInfo.expend_03},
			#{rlgl010302PractitionersInfo.expend_04},
			#{rlgl010302PractitionersInfo.expend_05},
			#{rlgl010302PractitionersInfo.login_user_id},
			#{rlgl010302PractitionersInfo.login_date},
			#{rlgl010302PractitionersInfo.update_user_id},
			#{rlgl010302PractitionersInfo.update_date}
			)
   	</insert>
</mapper>
