<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IRlgl020704Mapper">
	<!-- 获得学分列表 -->
	<select id="getCourseList" resultType="com.rlglsys.entity.Mtb62Credit">
        SELECT *,
        mid(course_id,1,3) as alllist_id,
        mid(course_id,4,3) as onelist_id,
        mid(course_id,4,3) as twolist_id,
        mid(course_id,4,3) as threelist_id
        FROM m_tb62_credit
        WHERE 
        COURSE_FLG = 1
    </select>
	<!-- 获得此课程对应的学分是否存在 -->
	<select id="getCreditCount" resultType="int">
        SELECT count(*)
        FROM m_tb62_credit
        WHERE course_id = #{credit.course_id}
    </select>
    <!-- 插入学分 -->
    <insert id="insertCredit">
       INSERT INTO m_tb62_credit
			(course_id,
			name,
			rule,
			area_id,
			count_unit,
			count_unit_speak,
			type_unit,
			credits,
			credits_speak,
			course_flg,
			class_id,
			ex_key,
			expend_01,
			expend_02,
			expend_03,
			expend_04,
			expend_05,
			login_user_id,
			login_date,
			update_user_id,
			update_date
			)
        VALUES (#{credit.course_id},
				#{credit.name},
				#{credit.rule},
				#{credit.area_id},
				#{credit.count_unit},
				#{credit.count_unit_speak},
				#{credit.type_unit},
				#{credit.credits},
				#{credit.credits_speak},
				'1',
				#{credit.class_id},
				#{credit.ex_key},
				#{credit.expend_01},
				#{credit.expend_02},
				#{credit.expend_03},
				#{credit.expend_04},
				#{credit.expend_05},
				#{credit.login_user_id},
				#{credit.login_date},
				#{credit.update_user_id},
				#{credit.update_date}
			   )
    </insert>
    <!-- 更新学分 -->
    <insert id="updateCredit">
       UPDATE 
       	m_tb62_credit 
       SET
       	name=#{credit.name},
       	rule=#{credit.rule},
       	area_id=#{credit.area_id},
       	count_unit=#{credit.count_unit},
       	count_unit_speak=#{credit.count_unit_speak},
       	type_unit=#{credit.type_unit},
       	credits=#{credit.credits},
       	credits_speak=#{credit.credits_speak},
       	class_id=#{credit.class_id}
       WHERE 
       	course_id = #{credit.course_id}
    </insert>
   	<!-- 删除学分(只针对其他学分设置) -->
   	<delete id="deleteCredit">
   		delete
        FROM m_tb62_credit 
        WHERE COURSE_FLG = 1
   	</delete>
</mapper>