<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IRlgl070202Mapper">
   
	<select id="getInfo" resultType="com.rlglsys.bean.Rlgl070202Bean">
		SELECT
		COUNT(0) as personCount,
		COUNT(0)*120 as moneyNum,
		apply_unit_nm,
		unit_nm,
		unit_no,
		APPLY_PERSON_NM,
		APPLY_PERSON_TEL
		FROM
		m_tb123_apply_invoice
		where
		DEL_KBN = 0
		AND APPLY_YEAR = #{rlgl070202Bean.apply_year}
		<if test="rlgl070202Bean.unit_no_bk !='' ">
		and
            unit_no = #{rlgl070202Bean.unit_no_bk}
        </if>
		<if test="rlgl070202Bean.unit_nm !='' ">
            AND UNIT_NM LIKE CONCAT('%', #{rlgl070202Bean.unit_nm}, '%')
        </if>
        GROUP BY
		UNIT_NO
        <if test="rlgl070202Bean.pageCount != 0 and rlgl070202Bean.pageCount != null">
            LIMIT #{rlgl070202Bean.pageNo},#{rlgl070202Bean.pageCount}
        </if>
	</select>
	<select id="getCount" resultType="int">
		SELECT
		COUNT(0)
		FROM
		(
		SELECT
		COUNT(0)
		FROM
		m_tb123_apply_invoice
		where
		DEL_KBN = 0
		AND APPLY_YEAR = #{rlgl070202Bean.apply_year}
		<if test="rlgl070202Bean.unit_no_bk !='' ">
			and
            unit_no = #{rlgl070202Bean.unit_no_bk}
        </if>
		<if test="rlgl070202Bean.unit_nm !='' ">
            AND UNIT_NM LIKE CONCAT('%', #{rlgl070202Bean.unit_nm}, '%')
        </if>
        GROUP BY
		UNIT_NO
		)a
	</select>
	
</mapper>