<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rlglsys.mapper.IRlgl021002Mapper">
    <!-- 通过待审核单位编号和申请区分查询待审核注册刊物申请数量 -->
    <select id="getPublicationApplyCount" resultType="int">
        SELECT
          COUNT(*)
        FROM
          m_tb70_publication
        WHERE 
          WILL_CHECKUNITNO = #{unit_no}
        AND
          CHECK_RESULT IS NULL
        AND  
          DEL_KBN = '0';
    </select>
    <!-- 通过待审核单位编号和申请区分查询待审核注册刊物申请信息列表 -->
    <select id="getPublicationApplyList" resultType="com.rlglsys.bean.Rlgl021001Bean">
        SELECT
          M1.*,
          M2.ADM_NAME AS publication_level_nm
        FROM
          m_tb70_publication M1
        LEFT JOIN
          m_tb02_adm M2
        ON
          M2.ADM_TYPE_CD = '127'
        AND
          M1.publication_level = M2.ADM_NUM
        AND
          M2.DEL_KBN = '0'
        WHERE 
          M1.WILL_CHECKUNITNO = #{unit_no}
        AND
          M1.CHECK_RESULT IS NULL
        AND  
          M1.DEL_KBN = '0';
    </select>
    <!-- 通过申请编号和申请连番查询待审核信息 -->
    <select id="getPublicationApplyInfo" resultType="com.rlglsys.bean.Rlgl021001Bean">
        SELECT
          M1.*,
          M2.ADM_NAME AS publication_level_nm
        FROM
          m_tb70_publication M1
        LEFT JOIN
          m_tb02_adm M2
        ON
          M2.ADM_TYPE_CD = '127'
        AND
          M1.publication_level = M2.ADM_NUM
        AND
          M2.DEL_KBN = '0'
        WHERE
          M1.APPLY_NO = #{apply_no}
        AND
          M1.APPLY_NUMBER = #{apply_number}
        AND
          M1.DEL_KBN = '0';
    </select>
    <!-- 通过申请编号和申请连番查询单位申请信息 -->
    <select id="getUnitApplyInfo" resultType="com.rlglsys.entity.UnitApply">
        SELECT
          *
        FROM
          m_tb07_unitapply
        WHERE
          APPLY_NO = #{apply_no}
        AND
          APPLY_NUMBER = #{apply_number}
        AND
          APPLY_KBN = #{apply_kbn}
        AND
          DEL_KBN = '0';
    </select>
    <!--更新刊物注册申请明细表  -->
    <update id="updateMtb70Info">
      update
         m_tb70_publication
      set
        CHECK_RESULT = #{mtb70publicationInfo.check_result},
        UNIT_CHECKER = #{mtb70publicationInfo.unit_checker},
        UNIT_CHECK_DATE = #{mtb70publicationInfo.unit_check_date},
        UNIT_CHECK_VIEWS = #{mtb70publicationInfo.unit_check_views},
        UNIT_CHECK_RESULT = #{mtb70publicationInfo.unit_check_result},
        COUNTY_CHECKER = #{mtb70publicationInfo.county_checker},
        COUNTY_CHECK_DATE = #{mtb70publicationInfo.county_check_date},
        COUNTY_CHECK_VIEWS = #{mtb70publicationInfo.county_check_views},
        COUNTY_CHECK_RESULT = #{mtb70publicationInfo.county_check_result},
        DOWNTOWN_CHECKER = #{mtb70publicationInfo.downtown_checker},
        DOWNTOWN_CHECK_DATE = #{mtb70publicationInfo.downtown_check_date},
        DOWNTOWN_CHECK_VIEWS = #{mtb70publicationInfo.downtown_check_views},
        DOWNTOWN_CHECK_RESULT = #{mtb70publicationInfo.downtown_check_result},
        MINISTRY_CHECKER = #{mtb70publicationInfo.ministry_checker},
        MINISTRY_CHECK_DATE = #{mtb70publicationInfo.ministry_check_date},
        MINISTRY_CHECK_VIEWS = #{mtb70publicationInfo.ministry_check_views},
        MINISTRY_CHECK_RESULT = #{mtb70publicationInfo.ministry_check_result},
        NOW_MARK = #{mtb70publicationInfo.now_mark},
        UPDATE_USER_ID = #{mtb70publicationInfo.update_user_id},
        UPDATE_DATE = #{mtb70publicationInfo.update_date}
      where
        APPLY_NO = #{mtb70publicationInfo.apply_no}
      and
        APPLY_NUMBER = #{mtb70publicationInfo.apply_number}
    </update>
    <!-- 更新个人人事申请信息 -->
    <update id="updateMtb07Info">
        UPDATE 
            m_tb07_unitapply
        SET
            CHECK_RESULT = #{updateApplyInfo.check_result},
            NOW_MARK = #{updateApplyInfo.now_mark},
            WILL_CHECKUNITNO = #{updateApplyInfo.will_checkunitno},
            UPDATE_USER_ID = #{updateApplyInfo.update_user_id},
            UPDATE_DATE = #{updateApplyInfo.update_date}
        WHERE
            APPLY_NO = #{updateApplyInfo.apply_no}
        AND
            APPLY_NUMBER = #{updateApplyInfo.apply_number}
        AND
            APPLY_KBN = #{updateApplyInfo.apply_kbn}
    </update>
</mapper>