/*404*/
.p404{text-align:center;padding-bottom:70px;}
.p404 img{margin:50px;}
.p404 p{color:#888;font-size:14px; margin-left: 20%;text-align: left;}
.p404 .btn3{line-height:26px;}
.fleft{float:left;display:inline;}
.fright{float:right;display:inline;}
.fnone{float:none;}
.fnone .main_img_list{float:none;}
.w320{width:320px;overflow:hidden;margin:0 auto;}
.noinfo{margin:20px 10px;font-size:14px;color:#555}
/**/