@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea{margin:0;padding:0;}
body{font-size:12px;font-family:'΢���ź�','Microsoft Yahei';-webkit-text-size-adjust:100%;word-wrap:break-word;color:#707070;
background:#fff;behavior:url("../style/csshover.htc");overflow-x:hidden;overflow-y:hidden;text-align:center;height:680px;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
a{text-decoration:none;color:#707070;outline:none;}
a:hover{text-decoration:none;outline:none;_zoom:1}
input,button,select,textarea{outline:none;vertical-align:middle;}
textarea{resize:none;}
p{text-align:justify;text-justify:inter-ideograph;}
img{border:none;vertical-align:middle;margin: 0 auto}

#content{width:980px;height:677px;background:url(../images/login/bg_1.png) no-repeat;position:relative;overflow:hidden;margin:0 auto;}
.main1{width:980px;height:610px;text-align:center;padding-top:40px;position:relative;background:url(../images/login/bg_1.png) no-repeat;}
.main{width:980px;height:554px;text-align:center;padding-top:60px;position:relative;}
.loginpage1{width:980px;height:680px;text-align:center;padding-top:60px;position:relative;background:url(../images/login/bg_1.png) repeat-y;margin: 0 auto}
.loginpage2{width:980px;height:680px;text-align:center;padding-top:60px;position:relative;background:url(../images/login/bg_3.jpg) repeat-y;margin: 0 auto}
.loginpage3{width:980px;height:680px;text-align:center;padding-top:60px;position:relative;background:url(../images/login/bg_2.jpg) repeat-y;margin: 0 auto}
.loginpage4{width:980px;height:680px;text-align:center;padding-top:60px;position:relative;background:url(../images/login/bg_2.jpg) repeat-y;margin: 0 auto}
.add{width:450px;height:58px;background:url(../images/login/add.png) no-repeat;margin:0 auto;margin-top:26px;margin-bottom:16px;
     line-height:46px;color:#fff;text-align:left;padding-left:20px;}
.enter{width:325px;height:auto;margin:0 auto;}
.en{width:325px;height:40px;background:url(../images/login/ente.png) no-repeat;margin-bottom:20px;padding-top:12px;padding-bottom:10px;}
.en h4{padding-bottom:4px;}
.tit{padding-top:20px;margin: 0 auto}
.en h4 a{font-size:24px;color:#1d76b3;}
.en h5 a{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#1d76b3;}
.main img.ren{position:absolute;left:-95px;top:65px;}
.main img.ren_1{position:absolute;left:0px;top:65px;}
.main img.ren_2{position:absolute;left:-40px;top:65px;}
.main img.su{position:absolute;left:190px;top:70px;}
.main img.dao{position:absolute;left:164px;bottom:-141px;background:url(../images/login/dao.png) no-repeat;}
.login{width:671px;height:281px;border:1px solid #fff;margin:0 auto;margin-top:-380px;background:#f2f2f2;text-align:left;position:relative;z-index:999;}
.reigst{width:671px;height:430px;border:1px solid #fff;margin:0 auto;margin-top:-380px;background:#f2f2f2;text-align:left;position:relative;z-index:999;}
.loginL{width:154px;height:226px;float:left;background:url(../images/login/border.png) no-repeat right center;padding-top:55px;padding-left:22px;}
.reigstL{width:154px;height:226px;float:left;background:url(../images/login/border.png) no-repeat right center;padding-top:100px;padding-left:22px;}
.loginL p{width:140px;font-size:18px;color:#474747;text-align:center;margin-top:14px;}
.reigst p{width:140px;font-size:18px;color:#474747;text-align:center;margin-top:14px;}
.loginR{width:463px;height:251px;float:left;padding-left:32px;padding-top:40px;}
.loginR label{display:block;width:120px;height:30px;float:left;line-height:30px;margin-bottom:26px;}
.loginR label span.chin{margin-right:6px;}
.loginR label span.eng{font-family:Arial, Helvetica, sans-serif;}
.loginR br{clear:left;}
.loginR input{width:230px;height:40px;line-height:40px;border:none;float:left;padding-left:50px;}
.loginR input.code{width:80px;margin-bottom:20px;background:url(../images/login/code.png) no-repeat;padding-left:10px;}
.loginR input.code:focus{background:url(../images/login/codehover.png) no-repeat;}
/*.loginR input:focus{border:1px solid #ff9900;}*/
.loginR a.see{display:block;float:left;margin-top:10px;}
.loginR a.see:hover{color:#ff9900;}
.imgCode{display:block;width:75px;height:38px;overflow:hidden;float:left;margin-left:6px;margin-right:5px;}
.loginR a.log{display:block;float:left;height:40px;text-align:center;color:#FFF;font-size:20px;line-height:40px;}
.loginR a.exit{width:81px;height:40px;background:url(../images/login/exit.png) no-repeat;_position:relation;margin-top:-20px;_left:315px;_top:-40px;}
.loginR a.login_1{width:188px;background:url(../images/login/login.png) no-repeat;_position:relation;_top:0px;_left:-123px;margin-top:-20px;margin-left:121px;margin-right:10px;}

.login_input{background:url(../images/login/login_input.png) no-repeat;}
.login_input:focus{background:url(../images/login/login_input_hover.png) no-repeat;}
.login_pass{background:url(../images/login/pass.png) no-repeat;}
.login_pass:focus{background:url(../images/login/passhover.png) no-repeat;}
.footer{width:980px;height:65px/*;background:rgba(255, 255, 255, 0.4) none repeat scroll 0 0 !important;filter:Alpha(opacity=20);background:#fff;*/;
        background:url(../images/login/footerBg_1.png) no-repeat;margin:0 auto;position:relative;z-index:9999;}
.foot1{width:980px;height:86px;padding-top:10px;background:url(../images/login/Db.png) no-repeat;}
.foot{width:980px;height:55px;padding-top:10px;}
.footL{width:405px;height:55px;text-align:left;float:left;padding-left:18px;}
.footL .com{float:left;}
.footL .com p{color:#fff;line-height:24px;position:relative;}
.footL img{float:left;width:89px;height:24px;overflow:hidden;margin-left:25px;margin-top:16px;position:relative;}
.footR{width:230px;height:55px;float:right;}
.footR p{color:#fff;font-size:12px;position:relative;}